<template>
  <div class="home">
  	<div id="phaser-container"></div>
  </div>
</template>
<script>
	/* eslint-disable */
	import Phaser from 'phaser'
	export default{
		data(){
			return {
				name:'home'
			}
		},
		mounted(){
			this.start()
		},
		methods:{
			start(){
				let config = {
	        type: Phaser.AUTO,
			    scale: {
		        mode: Phaser.Scale.RESIZE,
		        parent: 'phaser-container',
		        width: '100%',
		        height: '100%',
    			},
	        physics: {
            default: 'arcade',
            arcade: {
                gravity: { y: 200 }
            },
	        },
	        scene: {
            preload: preload,
            create: create,
	        }
		    }

		    let game = new Phaser.Game(config)

		    function preload ()
		    {
		        this.load.setBaseURL('http://labs.phaser.io')

		        this.load.image('sky', 'assets/skies/space3.png')
		        this.load.image('logo', 'assets/sprites/phaser3-logo.png')
		        this.load.image('red', 'assets/particles/red.png')
		    }

		    function create ()
		    {
		        this.add.image(400, 300, 'sky')

		        let particles = this.add.particles('red')

		        let emitter = particles.createEmitter({
		            speed: 100,
		            scale: { start: 1, end: 0 },
		            blendMode: 'ADD'
		        })

		        let logo = this.physics.add.image(400, 100, 'logo')

		        logo.setVelocity(100, 200)
		        logo.setBounce(1, 1)
		        logo.setCollideWorldBounds(true)

		        emitter.startFollow(logo)
		        this.scale.on('resize', resize, this)
		    }
		    function resize (gameSize, baseSize, displaySize, resolution)
				{
			    let width = gameSize.width
			    let height = gameSize.height

			    this.cameras.resize(width, height)
			    this.physics.world.setBounds(0, 0, width, height)
				}

			},
		},
		watch:{

		},
		computed:{

		},
		filters:{

		},
		props:{

		},
	}
</script>
<style lang=scss scoped>
	#phaser-container{
		width:100%;
		height: 100vh;
	}
</style>
